
<script type="text/javascript" src="../js/pathTo.js"></script>
<script language="javascript">function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
  <table>
    <tbody>
      <tr>
        <td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">Schemas > </td>
        <td style="CURSOR: pointer; TEXT-DECORATION: underline" id="719fa166-f4f9-4039-9f0a-09d11799e0fa">
          <div onclick="pathTo('719fa166-f4f9-4039-9f0a-09d11799e0fa',1)">HR > </div>
        </td>
        <td style="CURSOR: pointer; TEXT-DECORATION: underline" id="9d5fd32c-b715-4744-908d-07155c96b560">
          <div onclick="pathTo('9d5fd32c-b715-4744-908d-07155c96b560',1)">Tables > </div>
        </td>
        <td style="CURSOR: pointer; TEXT-DECORATION: underline" id="590565ac-28b8-46e3-ae6a-dc3a162fb474">
          <div onclick="pathTo('590565ac-28b8-46e3-ae6a-dc3a162fb474',1)">JOB_HISTORY > </div>
        </td>
        <td style="CURSOR: pointer; TEXT-DECORATION: underline" id="2c3cc2e7-acac-4c17-9d27-7258a7e5eb7b">
          <div onclick="pathTo('2c3cc2e7-acac-4c17-9d27-7258a7e5eb7b',1)">Indexes > </div>
        </td>
        <td style="FONT-WEIGHT: bold; COLOR: blue" id="cb462dfd-cd52-451b-9180-f55705ccdd76">JHIST_JOB_IX</td>
        <table style="WIDTH: 380px; TABLE-LAYOUT: fixed"></table>
      </tr>
    </tbody>
