
<script type="text/javascript" src="../js/pathTo.js"></script>
<script language="javascript">function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
  <table>
    <tbody>
      <tr>
        <td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">Schemas > </td>
        <td style="CURSOR: pointer; TEXT-DECORATION: underline" id="719fa166-f4f9-4039-9f0a-09d11799e0fa">
          <div onclick="pathTo('719fa166-f4f9-4039-9f0a-09d11799e0fa',1)">HR > </div>
        </td>
        <td style="FONT-WEIGHT: bold; COLOR: blue" id="c1e5b513-7724-4b3c-8fab-45adff73f6f2">Views</td>
        <table style="WIDTH: 380px; TABLE-LAYOUT: fixed"></table>
      </tr>
    </tbody>
