
<script type="text/javascript" src="../js/pathTo.js"></script>
<script language="javascript">function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
  <table>
    <tbody>
      <tr>
        <td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">Schemas > </td>
        <td style="CURSOR: pointer; TEXT-DECORATION: underline" id="719fa166-f4f9-4039-9f0a-09d11799e0fa">
          <div onclick="pathTo('719fa166-f4f9-4039-9f0a-09d11799e0fa',1)">HR > </div>
        </td>
        <td style="CURSOR: pointer; TEXT-DECORATION: underline" id="9d5fd32c-b715-4744-908d-07155c96b560">
          <div onclick="pathTo('9d5fd32c-b715-4744-908d-07155c96b560',1)">Tables > </div>
        </td>
        <td style="CURSOR: pointer; TEXT-DECORATION: underline" id="9a591d8d-6d26-4a23-a509-8475f8255b49">
          <div onclick="pathTo('9a591d8d-6d26-4a23-a509-8475f8255b49',1)">LOCATIONS > </div>
        </td>
        <td style="CURSOR: pointer; TEXT-DECORATION: underline" id="4336510b-cb2c-4fd5-ab02-760ab3901cf5">
          <div onclick="pathTo('4336510b-cb2c-4fd5-ab02-760ab3901cf5',1)">Indexes > </div>
        </td>
        <td style="FONT-WEIGHT: bold; COLOR: blue" id="4e811bdd-a440-46a6-8139-3d07464cbeee">LOC_STATE_PROVINCE_IX</td>
        <table style="WIDTH: 380px; TABLE-LAYOUT: fixed"></table>
      </tr>
    </tbody>
