
<script type="text/javascript" src="../js/pathTo.js"></script>
<script language="javascript">function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
  <table>
    <tbody>
      <tr>
        <td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">Schemas > </td>
        <td style="CURSOR: pointer; TEXT-DECORATION: underline" id="719fa166-f4f9-4039-9f0a-09d11799e0fa">
          <div onclick="pathTo('719fa166-f4f9-4039-9f0a-09d11799e0fa',1)">HR > </div>
        </td>
        <td style="CURSOR: pointer; TEXT-DECORATION: underline" id="9d5fd32c-b715-4744-908d-07155c96b560">
          <div onclick="pathTo('9d5fd32c-b715-4744-908d-07155c96b560',1)">Tables > </div>
        </td>
        <td style="CURSOR: pointer; TEXT-DECORATION: underline" id="e70e16be-0fda-4670-b931-819f48a1a0b4">
          <div onclick="pathTo('e70e16be-0fda-4670-b931-819f48a1a0b4',1)">EMPLOYEES > </div>
        </td>
        <td style="CURSOR: pointer; TEXT-DECORATION: underline" id="2be6debb-7ad0-492b-a8ca-2b4e500c8569">
          <div onclick="pathTo('2be6debb-7ad0-492b-a8ca-2b4e500c8569',1)">Indexes > </div>
        </td>
        <td style="FONT-WEIGHT: bold; COLOR: blue" id="202c479c-7e59-4e0f-bcc4-c7395b53822d">EMP_JOB_IX</td>
        <table style="WIDTH: 380px; TABLE-LAYOUT: fixed"></table>
      </tr>
    </tbody>
