
<head>
  <title>Objects statistics section</title>
  <link rel="stylesheet" type="text/css" href="../textstyles.css"></link>
  <script language="javascript">function init(){try{var height = top.getCatHeight();h = height - 350;var eDiv = document.getElementById("innerDiv");var str = window.parent.document.location.toString();if (str.lastIndexOf("srcIndex")>0)h-=35;eDiv.style.height = h;}catch(e){var eDiv = document.getElementById("innerDiv");eDiv.style.height = "100%";eDiv.style.overflowY='visible';}}var lastTimeoutId=null;function doResize(){if (lastTimeoutId != null)clearTimeout(lastTimeoutId);lastTimeoutId = setTimeout("checkSize()",50);}function checkSize(){try{var height = top.getCatHeight();h = height - 185;var eDiv = document.getElementById("innerDiv");var str = window.parent.document.location.toString();if (str.lastIndexOf("srcIndex")>0)h-=35;var mh = top.getMessagesHeight();h -= mh;eDiv.style.height = h;}catch(e){}}function foo(s){alert("aaa");return 1;}</script>
</head>
<body style="HEIGHT: 100%; WIDTH: 100%; TEXT-ALIGN: center; background-color:white" onresize="javascript:doResize();" onload="javascript:init();">
  <table style="WIDTH: 380px; TABLE-LAYOUT: fixed" align="center">
    <tbody>
      <tr>
        <td style="BORDER-TOP-STYLE: none; BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: white">
          <div id="mainDiv" style="WIDTH: 355px" align="center">
            <table style="WIDTH: 355px; BORDER-COLLAPSE: collapse; TABLE-LAYOUT: fixed" align="center" id="st_head">
              <caption>
                <div valign="middle" align="center" height="50">
                  <b>Objects by categories</b>
                </div>
              </caption>
              <colgroup>
                <col style="WIDTH: 201px"></col>
                <col style="WIDTH: 81px"></col>
                <col style="WIDTH: 81px"></col>
              </colgroup>
              <tbody>
                <tr height="35">
                  <th>Object type</th>
                  <th>Total</th>
                  <th>With errors</th>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="innerDiv" style="height: 100%; width: 355px; overflow-y: visible;">
            <div style="OVERFLOW-Y: auto; MARGIN: 0px"></div>
            <div></div>
            <table id="st_head" style="WIDTH: 355px; BORDER-COLLAPSE: collapse; TABLE-LAYOUT: fixed" align="center">
              <tbody>
                <tr height="35">
                  <td style="WIDTH: 200px">
                    <span style="POSITION: relative; LEFT: 6px">index</span>
                  </td>
                  <td style="WIDTH: 80px" align="right">
                    <span style="RIGHT: 6px; POSITION: relative">4</span>
                  </td>
                  <td style="WIDTH: 80px" align="right">
                    <span style="RIGHT: 20px; POSITION: relative">0</span>
                  </td>
                </tr>
                <tr height="35">
                  <td style="WIDTH: 200px">
                    <span style="POSITION: relative; LEFT: 6px">trigger</span>
                  </td>
                  <td style="WIDTH: 80px" align="right">
                    <span style="RIGHT: 6px; POSITION: relative">2</span>
                  </td>
                  <td style="WIDTH: 80px" align="right">
                    <span style="RIGHT: 20px; POSITION: relative">0</span>
                  </td>
                </tr>
                <tr height="35">
                  <td style="WIDTH: 200px">
                    <span style="POSITION: relative; LEFT: 6px">table</span>
                  </td>
                  <td style="WIDTH: 80px" align="right">
                    <span style="RIGHT: 6px; POSITION: relative">1</span>
                  </td>
                  <td style="WIDTH: 80px" align="right">
                    <span style="RIGHT: 20px; POSITION: relative">0</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>
