
<script type="text/javascript" src="../js/pathTo.js"></script>
<script language="javascript">function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
  <table>
    <tbody>
      <tr>
        <td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">Schemas > </td>
        <td style="CURSOR: pointer; TEXT-DECORATION: underline" id="719fa166-f4f9-4039-9f0a-09d11799e0fa">
          <div onclick="pathTo('719fa166-f4f9-4039-9f0a-09d11799e0fa',1)">HR > </div>
        </td>
        <td style="CURSOR: pointer; TEXT-DECORATION: underline" id="9d5fd32c-b715-4744-908d-07155c96b560">
          <div onclick="pathTo('9d5fd32c-b715-4744-908d-07155c96b560',1)">Tables > </div>
        </td>
        <td style="CURSOR: pointer; TEXT-DECORATION: underline" id="21233309-a74f-493a-826c-68217628f12e">
          <div onclick="pathTo('21233309-a74f-493a-826c-68217628f12e',1)">DEPARTMENTS > </div>
        </td>
        <td style="FONT-WEIGHT: bold; COLOR: blue" id="a3c0275e-ddb4-4041-a896-187cc6006046">Indexes</td>
        <table style="WIDTH: 380px; TABLE-LAYOUT: fixed"></table>
      </tr>
    </tbody>
